<%- include('partials/html-start.ejs') %>

<h1>Welcome to Courtney's Chainsaw App</h1>

<p>I\'m Courtney Pride

<p>
    <%= chainsawData.length %>
</p>

//todo: display the contents of the chainsawData...not just the length.

<h3> Create New Saw </h3>

<form method="POST" action="createSaw">
    <label for="sawName">Saw Name</label>
    <input name="sawName" placeholder="new saw name">
    <input type="submit" value="create a new saw" />
</form>




<%- include('partials/html-end.ejs') %>
