<%- include('partials/html-start.ejs') %>

<h1>Welcome to Courtney's Chainsaw App</h1>

<p>I'm Courtney Pride

<p>
    <% for(i=0; i<chainsawData.length; i++){ %>

        <form method="POST" action="/updateSaw/<%= chainsawData[i]._id %>">
            
            <label for="newSawName"><%= chainsawData[i].sawName %></label>
            <input name="newSawName">
            <input type="submit" value="update saw name">

        </form>



        

    <% } %>
</p>

//todo: display the contents of the chainsawData...not just the length.

<h3> Create New Saw </h3>

<form method="POST" action="createSaw">
    <label for="sawName">Saw Name</label>
    <input name="sawName" placeholder="new saw name">
    <input type="submit" value="create a new saw" />
</form>




<%- include('partials/html-end.ejs') %>
